.box { 
     background: $cl-gray;
     
     .box__content {
          gap:0px 20px;
     }
     .box-item {
          display: flex;
          gap: 40px;
          margin-top: 50px;


          .card {
               width: 270px;
               height: 361px;
               border: none;
               border-radius: 20px;
               transition: all .5s;
                    img {
                    border-radius: 20px 20px 0 0;
                    width: 100%;
                    }
               }
               &:hover {
                    box-shadow: 0 5px 20px $cl-gray;
               }
          }
     }
     .banner-2 {
          margin-top: -385px;
     }



// .box { 
//      background: $cl-gray;
//      .box__content {
//           gap: 40px;
//           .box__item {
//                background: $cl-while;
//                border-radius: 21px;
//                padding: 0px;
             
//                     img {
//                     border-radius: 20px 20px 0 0;
//                     width: 100%;
     
                    
//                }
//           }
//      }
     
     
// }
