.course {
     background: $cl-while;
     height: 695px;
     padding-top: 100px;
     position: relative;
     z-index: 2;

     .course-content {
          .course-img {
               max-width: 100%;
               img {
                    width: 90%;
               }
          }
          .course-form {
               width: 393px;
               height: 503px;
               background: $cl-while;
               border-radius: 20px;
               box-shadow: 0 3px 20px $cl-gray;
               h3{
                    font-size: 37.5px;
                    line-height: 45px;
                    padding: 25px;
                    font-weight: 600;
                    text-align: center;
               }

               form {
                    padding: 25px;
                    input {
                         border-radius: 40px;
                         height: 45px;
                    }
                    .dropdown {
                         button{
                              width: 100%;
                              border-radius: 40px;
                              text-align: start;
                              border: 1px solid $cl-gray;
                              padding: 8px;
                              background: none;
                              i {
                                   float: right;
                                   padding-top: 5px;
                                   padding-right: 8px;
                              }
                         }
                         
                    }
                    .textarea {
                         border-radius: 20px;
                         outline: none;
                    }
                    button {
                         margin-top: 20px;
                         padding: 10px 40px;
                         border-radius: 40px;
                         background: $cl-pink;
                         border: none;
                    }
               }
          }
     }

     
}

