//Color
$color-purple: #b61984;
$color-white: #ffffff;
$color-white-2: rgba(255, 255, 255, 1);
$color-dark-1: #191919;
$color-dark-2: #181818;
$color-gray: #dcd1f3;


//Font-size
$fs-heading-1:1.65rem;
$fs-heading-2:5.7rem;
$fs-heading-3:1.125rem;
$fs-heading-4:23.25rem;
$fs-heading-5:1.35rem;
$fs-menu:13px;
$fs-text-1:1.5rem;
$fs-button-1:0.9rem;

//Font-weight
$fw1: 400;
$fw2: 500;
$fw3: 600;
$fw4: 700;

//Font-family
$font-primary: 'Montserrat', sans-serif;
$font-secondary:'Roboto', sans-serif;

