*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size:15px ;
}
img {
    display: block;
    max-width: 100%;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
option{
    max-width: 100%;
}
