.about {
    background: url(../img/yellow_top_wave_01.png), url(../img/Violet_top_left_wave.png);
    background-position: left top, bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 4em;
    padding-bottom: 4em;
    &-content {
        display: flex;
        align-items: center;
    }
    &-content__text {
        font-size: 3.8rem;
        padding: 0;
        h3 {
            @include styleText($font-primary, $color-purple, 1.1rem, $fw3);
            margin-bottom: 0.5em;
        }
        h2 {
            @include styleText($font-primary, $color-dark-1, 3.8rem, $fw4);
            margin-bottom: 0;
        }
    }
    &-content__image {
        padding: 0;
    }
}

